input#password:invalid {
    border: 2px solid crimson;
}

input#password:valid {
    border: 2px solid green;
}

fieldset#userForm {
    width: max-content;
    height: min-content;
    text-align: center;
    margin: auto;
}